.h1 {
    color: rgb(180, 149, 144)
}
.h2 {
    color: rgb(19, 98, 74)
}
.h3 {
    color: rgb(61, 7, 84)
}
.h4 {
    color: rgb(255, 177, 225)
}
.h5 {
    color: rgb(57, 141, 127)
}
.h6 {
    color: rgb(166, 255, 0)
}